p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #EDEDED;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000000;
  &:visited {
    color: #000000;
  }
  &:hover {
    color: #000000;
    background-color: #EDEDED;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
	color:black; 
  }
}

#notice {
  color: green;
	margin-left: auto;
	margin-right: auto;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
	margin-left: auto;
	margin-right: auto;

}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  margin-left: auto;
margin-right: auto;
  ul li {
    font-size: 12px;
    list-style: square;  
}
}
